.services{
    display: flex;
    font-style: nunito;
    font-size: 1.5rem;
    gap: 10%;
}
.visuals{
    width: 270px;
    height: 270px;
    margin-left: 15%;
    margin-top: -45%;
}
.about-text{
    text-align: center;
    margin-left: 15%;
    margin-top: 5%;
}
.heading{
    margin-left: 40%;
}
.visuals-communication{
    width: 270px;
    height: 270px;
    margin-left: 40%;
    margin-top: -10%;


}
.visuals-notice{
    width: 270px;
    height: 270px;
    margin-top: -10%;


}

@media screen and (min-width: 280px) and (max-width: 668px){
    .services{
        display: flex;
        flex-wrap: wrap;
        font-style: nunito;
        font-size: large;
       /* gap: 5%;*/
    }
    .visuals{
        width: 200px;
        height: 200px;
        margin-top: -10%;
        margin-left: 0%;
    }
    .about-text{
       margin-left: 2.5%;
       text-align: left;
       /* margin-top: 5%;*/
    }
    .heading{
       margin-left: 32%;
    }
    .visuals-communication{
        width: 200px;
        height: 200px;
        margin-left: 0%;
    
    }
    .visuals-notice{
        width: 200px;
        height: 200px;
    
    }
    


}

@media screen and (min-width: 760px) and (max-width: 1025px){
    .services{
        display: flex;
        flex-wrap: wrap;
        font-style: nunito;
        font-size: x-large;
       /* gap: 1%;*/
    }
    .visuals{
        width: 200px;
        height: 200px;
        margin-top: -10%;
        /*margin-left: 15%;*/
    }
    .about-text{
        margin-left: 5%;
        text-align: left;
      /* margin-top: 5%;*/
    }
   
    .visuals-communication{
        width: 200px;
        height: 200px;
       /* margin-left: 40%;*/
    
    }
    .visuals-notice{
        width: 200px;
        height: 200px;
    
    }

}

@media screen and (min-width: 1026px) and (max-width: 1300px){
    .services{
        display: flex;
        flex-wrap: wrap;
        font-style: nunito;
        font-size: x-large;
      /* gap: 5%;*/
    }
    .visuals{
        width: 200px;
        height: 200px;
        /*margin-left: 15%;*/
    }
    .about-text{
        text-align: left;
       /* margin-left: 20%;
        margin-top: 5%;*/
    }
    
    .visuals-communication{
        width: 200px;
        height: 200px;
       /* margin-left: 40%;*/
    
    }
    .visuals-notice{
        width: 200px;
        height: 200px;
    
    }

}



