.services{
    display: flex;
    font-family: inria serif;
    font-size: 1.5rem;
    gap: 2%;
    margin-right:250px;
    
}
.visuals{
    width: 250px;
    height: 160px;
    object-fit: cover;
    margin-left: 20%;
    margin-top: -25%;
}
.about-text{
    margin-left: 10%;
    margin-top: 5%;
    text-align: start;
    line-height: 1.8;
}
.heading{
    margin-left: 40%;
    font-family: inria serif;
}
.visuals-communication{
    width: 250px;
    height: 160px;
    object-fit: cover;
    margin-left: 20%;
    margin-top: -5%;


}

.visuals-notice{
    width: 250px;
    height: 160px;
    object-fit: cover;
    margin-top: -10%;
    margin-left:20% ;


}

/* @media screen and (min-width: 280px) and (max-width: 668px){
    .services{
        display: flex;
        flex-wrap: wrap;
        font-family: inria serif;
        text-align: center;
    }
    .visuals{
        width: 250px;
        height: 250px;
        object-fit: contain;
        margin-top: -10%;
        margin-left: 0%;
    }
    .about-text{
       margin-left: 2.5%;
       text-align: left;
    }
    .heading{
       margin-left: 32%;
       font-family: inria serif;

    }
    .visuals-communication{
        width: 250px;
        height: 250px;
        object-fit: contain;
        margin-left: 4%;
    
    }
    .visuals-notice{
        width: 250px;
        height: 250px;
        object-fit: contain;
        margin-left: 3%;
    }
    


}

@media screen and (min-width: 760px) and (max-width: 1025px){
    .services{
        display: flex;
        flex-wrap: wrap;
        font-family: inria serif;
        font-size: x-large;
    }
    .visuals{
        width: 250px;
        height: 250px;
        object-fit: contain;
        margin-top: -10%;
    }
    .about-text{
        text-align: start;
      margin-left: 1.2%;


    }
    .heading{
        margin-left: 32%;
        font-family: inria serif;
    }
    .visuals-communication{
        width: 250px;
        height: 250px;
        object-fit: contain;
        margin-left: 18%;

    
    }
  
    .visuals-notice{
        width: 250px;
        height: 250px;
        object-fit: contain;
        margin-left: 12%;
    
    }

}

@media screen and (min-width: 1026px) and (max-width: 1300px){
    .services{
        display: flex;
        flex-wrap: wrap;
        font-family: inria serif;
        font-size: x-large;
    }
    .visuals{
        width: 250px;
        height: 250px;
        object-fit: contain;
    }
    .about-text{
        text-align: left;
      
    }
    .heading{
        margin-left: 32%;
        font-family: inria serif;
    }
    
    .visuals-communication{
        width: 250px;
        height: 250px;
        object-fit: contain;
    
    }
    .visuals-notice{
        width: 250px;
        height: 250px;
        object-fit: contain;
    
    }

}


 */


 @media screen and (min-width: 280px) and (max-width: 668px){

    .services{
        display:block;
        font-family: inria serif;
        font-size:18px;
        gap: 5%;
        margin-right: 90px;
    }
    .visuals{
        width: 150px;
        height: 100px;
        object-fit: cover;
        margin-left: 2%;
        margin-top: 20%;
    }
    .about-text{
        margin-left: 25%;
        margin-top: 5%;
        text-align: start;
        line-height: 15.0pt;


    }
    .heading{
        margin-left: 3%;
        font-family: inria serif;
        text-align: center;
    }
    .visuals-communication{
        width: 150px;
        height: 100px;
        object-fit: cover;
        margin-left: 2%;
        margin-top: 20%;
    
    
    }
    
    .visuals-notice{
        width: 150px;
        height: 100px;
        object-fit: cover;
        margin-left: 2%;
        margin-top: 20%;
        
    
    
    }




 }


 @media screen and (min-width: 760px) and (max-width: 1000px){
 
    .services{
        display: block;
        font-family: inria serif;
        font-size:20px;
        gap: 2.5%;
        margin-right: 105px;
    }

    
    .visuals{
        width: 250px;
        height: 160px;
        object-fit: cover;
        margin-left: 15%;
        margin-top: 15%;
    }
    .about-text{
        margin-left: 12%;
        margin-top: 5%;
        text-align: start;
        line-height: 20.0pt;

    }
    .heading{
        margin-left:40%;
        font-family: inria serif;
        font-size: 40px;

    }
    .visuals-communication{
        width: 250px;
        height: 160px;
        object-fit: cover;
        margin-left: 15%;
        margin-top: 15%;
    
    
    }
    .text{
        font-size: 25px;
    }
    
    .visuals-notice{
        width: 300px;
        height: 160px;
        object-fit: cover;
        margin-top: 15%;
        margin-left:15% ;
    
    
    }




 }

 @media screen and (min-width: 1000px) and (max-width: 1100px){
    .services{
        display:flex;
        flex-direction: row;
        font-family: inria serif;
         gap: 10.5%;
        margin-right: 80px;
        
    }
    .visuals{
        width: 200px;
        height: 100px;
        object-fit: cover; 
        margin-left: 10%;
        margin-top: -30px;
    }
    .about-text{
        margin-top: 5%;
        text-align: start;
        line-height: 18.0pt;

    }
    .heading{
        margin-left: 40%;
        font-family: inria serif;
        font-size: 32px;

    }
    .visuals-communication{
        width: 250px;
        height: 120px;
        object-fit: cover;
        margin-left: 10%;
        margin-top: 5%;
    
    
    }
    .text{
        font-size: 17px;
        flex-wrap: wrap;
        padding-left: 0px;
        padding-right: 5px;
        line-height: 22.0pt;

    }
    
    .visuals-notice{
        width: 250px;
        height: 110px;
        object-fit: cover;
        margin-top: 5%;
        margin-left:10% ;
    
    
    }

}



@media screen and (min-width: 1100px) and (max-width: 1300px){
    .services{
        display:flex;
        flex-direction: row;
        font-family: inria serif;
        font-size:12px;
         gap: 10.5%;
        margin-right: 180px;
        
    }
    .visuals{
        width: 250px;
        height: 160px;
        object-fit: cover; 
        margin-left: 10%;
        margin-top: -30px;
    }
    .about-text{
        margin-top: 5%;
        text-align: start;
        line-height: 15.0pt;

    }
    .heading{
        margin-left: 40%;
        font-family: inria serif;

    }
    .visuals-communication{
        width: 250px;
        height: 160px;
        object-fit: cover;
        margin-left: 10%;
        margin-top: 5%;
    
    
    }
    .text{
        font-size: 20px;
        flex-wrap: wrap;
        padding-left: 80px;
        padding-right: 5px;
    }
    
    .visuals-notice{
        width: 300px;
        height: 160px;
        object-fit: cover;
        margin-top: 5%;
        margin-left:10% ;
    
    
    }

}
