.container{
    background-color: #0904FC;
    width: 73%;
    border-radius: 80px;
    height: 600px;
    background-repeat: no-repeat;
    border-radius: 50px; 
    margin-left: 3%;
}

.about-text{
    color: white;
    margin-left: 5%;
    padding-top: 50px;
    font-size: x-large;
}

.overlay{
    position: relative;
    margin-left: 1120px;
    border-radius: 50%;
    margin-top: -41%;
    height: 680px;
    width: 655px;
   background-color: white;
}
.heading{
    margin-left: 35%;
    font-size: 50px;
}

@media screen and (min-width: 280px) and (max-width: 667px) {
    .container{
        background-color: #0904FC;
        width: 400px;
        border-radius: 80px;
        height: 300px;
        background-repeat: no-repeat;
        border-radius: 50px; 
        margin-left: 3%;
    }
    
    .about-text{
        color: white;
        margin-left: 5%;
        padding-top: 50px;
        font-size: 15px;
    }
    
    .overlay{
        position: relative;
        margin-left: 400px;
        border-radius: 50%;
        margin-top: -60%;
        height: 480px;
        width: 455px;
       background-color: white;
    }
    .heading{
        margin-left: 35%;
        font-size: 50px;
    }
    
}